<footer class="bg-light text-center text-lg-start">
    <div class="footer1 bg-footer mb-0">
        <div class="container p-4">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 mb-md-0">
                    <h5 class="text-uppercase text-color">Tuyến đường</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark ">Xe đi Đà Lạt từ Sài Gòn</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Xe đi Đà Nẵng từ Sài Gòn</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Xe đi Hà Nội từ Sài Gòn</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Xe đi Cần Thơ từ Sài Gòn</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Xe đi Đồng Nai từ Sài Gòn</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 mb-md-0">
                    <h5 class="text-uppercase text-color">Nhà xe</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark ">Nhà xe Hà My</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Nhà xe Minh Phương</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Nhà xe Phát Thủy</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Nhà xe Hoàng Anh</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Nhà xe Tiến Đạt</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 mb-md-0">
                    <h5 class="text-uppercase text-color">Bến xe</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark ">Bến xe Miền Đông</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Bến xe liên tỉnh Đà Lạt</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Bến xe Mỹ Đình</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Bến xe miền Tây</a>
                        </li>
                        <li>
                            <img src="/images/tb.png" alt="" width="150px">
                            <img src="/images/dk.png" alt="" width="150px">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer2 bg-footer">
        <div class="container p-4">
            <div class="d-flex justify-content-center">
                <img src="https://cdn.haitrieu.com/wp-content/uploads/2021/12/logo-hcmus-new.png" alt="KHTN" width="100"
                    class="mx-5">
                <img src="/images/fit.png" alt="FIT" width="100">
            </div>
            <div class="text-center p-2 text-dark">
                <span>Địa chỉ: 227 Nguyễn Văn Cừ, Quận 5, Thành Phố Hồ Chí Minh</span> <br>
                <span>Phone: +84 34 567 890 | E-mail: nhom5ktpm4@clc.fitus.edu.vn</span>
            </div>
        </div>
    </div>
    <div class="footer3 bg-header">
        <div class="container p-3">
            <div class="d-md-flex justify-content-center">
                <div class="text-center text-white mx-5">
                    <span>Bản quyền © 2022 thuộc về nhóm 5 - Phát triển ứng dụng Web</span>
                </div>
                <div class="follow text-center text-white">
                    <span>Follow us:</span>
                    <span><i class="bi bi-facebook mx-2"></i></span>
                    <span><i class="bi bi-instagram mx-2"></i></span>
                    <span><i class="bi bi-youtube mx-2"></i></span>
                </div>
            </div>
        </div>
    </div>
</footer>