<header>
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-md bg-header navbar-dark py-0">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="./images/logo.png" alt="" width="80">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item text-white">
                        <a class="nav-link text-center px-4" href="nhaxe.htm">
                            <i class="bi bi-truck icon d-inline"></i>
                            Nhà xe
                        </a>
                    </li>
                    <li class="nav-item text-white">
                        <a class="nav-link text-center ml-2" href="about.htm">
                            <i class="bi bi-telephone icon"></i>
                            Về chúng tôi
                        </a>
                    </li>
                    <li class="nav-item text-white">
                        <a class="nav-link text-center mx-2" href="login.htm">
                            <i class="bi bi-person icon"></i>
                            Đăng nhập
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>