<header>
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-md bg-header navbar-dark py-0">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="" width="80">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item text-white">
                        <a class="nav-link text-center px-4" href="/nha-xe">
                            <i class="bi bi-truck icon d-inline"></i>
                            Nhà xe
                        </a>
                    </li>
                    <li class="nav-item text-white">
                        <a class="nav-link text-center ml-2" href="/about">
                            <i class="bi bi-telephone icon"></i>
                            Về chúng tôi
                        </a>
                    </li>
                    {{#if isLoggedIn}}
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link text-center" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person"></i>
                            <div class="taikhoan">
                                {{fullName}}
                                <i class="bi bi-caret-down-fill"></i>

                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/tai-khoan/thong-tin"><i class="bi bi-person-circle"></i>
                                    Thông tin tài
                                    khoản</a></li>
                            <li><a class="dropdown-item" href="/tai-khoan/ve-cua-toi"><i
                                        class="bi bi-ticket-perforated"></i>
                                    Vé của
                                    tôi</a></li>
                            <li><a class="dropdown-item text-danger" href="/users/logout"><i
                                        class="bi bi-box-arrow-left"></i>
                                    Đăng xuất</a></li>
                        </ul>
                    </li>
                    <li class="nav-items text-center text-white hamburger">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed mx-auto" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    <div class="user">
                                        <i class="bi bi-person"></i>
                                        <div class="taikhoan text-center">
                                            {{fullName}}
                                            <i class="bi bi-caret-down-fill"></i>
                                        </div>

                                    </div>
                        </div>
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse mt-3" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="drop">
                                    <div class="item"><a class="" href="infoTaiKhoan.htm"><i
                                                class="bi bi-person-circle"></i> Thông
                                            tin tài
                                            khoản</a>
                                    </div>
                                    <div class="item"><a class="mt-3" href="myTicket.htm"><i
                                                class="bi bi-ticket-perforated"></i> Vé
                                            của
                                            tôi</a>
                                    </div>
                                    <div class="item"><a class="mt-3 mb-3" href="/users/logout"><i
                                                class="bi bi-box-arrow-left"></i>
                                            Đăng xuất</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{else}}
                    <li class="nav-item text-white">
                        <a class="nav-link text-center mx-2" href="/users/login">
                            <i class="bi bi-person icon"></i>
                            Đăng nhập
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>