<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhà xe Hà My</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/chi_tiet_nha_xe.css">
</head>

{{>header}}
<main class="container">
    <div class="row">
        <div class="col-xl" style="overflow: auto;">
            <div class="thumbnail">
                <div class="page-header container">
                    <h1 class="page-title primary-title-50">Nhà
                        xe Hà My</h1>
                </div>

                <img src="/images/nhaxe/HaMy.jpg" alt="Nhà xe
                                    Hà My" class="img-fluid
                                    rounded-top-bottom-1" style="width: 100%; height: 85.9vh;">
            </div>

            <div class="accordion details" id="#nhaxe-accordion">
                <div class="accordion-item intro">
                    <div class="accordion-header intro-title" id="headingOne">
                        <button class="accordion-button
                                            collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="background-color:
                                            var(--color--quaternary);">
                            <h3>Giới thiệu chi tiết về nhà xe Hà
                                My</h3>
                        </button>
                    </div>

                    <div id="collapseOne" class="accordion-collapse collapse
                                        intro-details" data-bs-parent="#nhaxe-accordion">
                        <div class="accordion-body">
                            <p>Xe Hà My đã trở thành một cái tên
                                quen thuộc khi nhắc đến các
                                thương hiệu nhà xe
                                trên tuyến đường Thành phố Hồ
                                Chí Minh và Bạc Liêu. Bởi lẽ
                                hãng xe này luôn chú
                                trọng đến việc thực hiện những
                                cam kết phục vụ lợi ích tốt nhất
                                cho khách hàng
                                như: khởi hành đúng giờ và hỗ
                                trợ đưa đón khách tại các điểm
                                hẹn trước trên
                                đường đi, có xe trung chuyển tận
                                nơi, luôn giữ vệ sinh sạch sẽ và
                                an toàn phòng
                                dịch.</p>
                            <p>Đặc biệt, nhà xe Hà My còn đầu tư
                                vào công nghệ để áp dụng việc sử
                                dụng vé điện
                                tử trên các thiết bị di động
                                nhằm đẩy nhanh thủ tục trước giờ
                                khởi hành. Hà My
                                cũng sẽ cung cấp cho bạn đầy đủ
                                các vật phẩm như nước uống, khăn
                                lạnh và mền gối
                                để bạn sử dụng trong suốt quá
                                trình di chuyển.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item tuyen-duong">
                    <div class="accordion-header
                                        tuyen-duong-title">
                        <button class="accordion-button
                                            collapsed type=" button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="background-color:
                                            var(--color--quaternary);">
                            <h3>Lộ trình tuyến đường, thời gian
                                dừng đón, trả khách và giá vé,
                                loại xe của nhà
                                xe Hà My</h3>
                        </button>
                    </div>

                    <div id="collapseTwo" class="accordion-collapse collapse
                                        tuyen-duong-details" data-bs-parent="#nhaxe-accordion">
                        <div class="accordion-body">
                            <div>
                                <h3 class="tuyen-duong-details-title">Tuyến
                                    đường đi Bạc Liêu - Thành
                                    phố Hồ Chí
                                    Minh</h2>
                                    <ul>
                                        <li>Thời gian khởi hành:
                                            8h00, 10h00, 20h00,
                                            21h00</li>
                                        <li>Thời gian di chuyển: 7
                                            tiếng</li>
                                        <li>Số chuyến trong ngày:
                                            Khoảng 5 chuyến/ngày</li>
                                        <li>Điểm đón khách: Văn
                                            phòng Bạc Liêu</li>
                                        <li>Điểm trả khác: Văn phòng
                                            Thành phố Hồ Chí Minh</li>
                                        <li>Giá vé tham khảo:
                                            170.000 VNĐ/người/ghế</li>
                                    </ul>
                            </div>

                            <div>
                                <h3 class="tuyen-duong-details-title">Tuyến
                                    đường đi Thành phố Hồ Chí
                                    Minh - Bạc
                                    Liêu</h2>
                                    <ul>
                                        <li>Thời gian khởi hành:
                                            8h00, 10h00, 14h00,
                                            20h00, 21h00</li>
                                        <li>Thời gian di chuyển: 7
                                            tiếng</li>
                                        <li>Số chuyến trong ngày:
                                            Khoảng 5 chuyến/ngày</li>
                                        <li>Điểm đón khách: Văn
                                            phòng Thành phố Hồ Chí
                                            Minh</li>
                                        <li>Điểm trả khác: Văn phòng
                                            Bạc Liêu</li>
                                        <li>Giá vé tham khảo:
                                            170.000 VNĐ/người/ghế</li>
                                    </ul>
                            </div>

                            <div class="loai-xe">
                                <p style="font-weight: bold;">Loại
                                    xe: </p>
                                <p> Ghế ngồi, giường nằm 29-45
                                    chỗ</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item chi-nhanh">
                    <div class="accordion-header
                                        chi-nhanh-title">
                        <button class="accordion-button
                                            collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="background-color:
                                            var(--color--quaternary);">
                            <h3>Địa chỉ và thông tin liên hệ đặt
                                vé xe Hà My</h3>
                        </button>
                    </div>

                    <div id="collapseThree" class="accordion-collapse collapse
                                        chi-nhanh-details" data-bs-parent="#nhaxe-accordion">
                        <div class="accordion-body">
                            <div>
                                <h3>Chi nhánh Bạc Liêu</h3>
                                <p>Văn phòng bán vé Bạc Liêu: 34
                                    Ấp Láng Giài, Thị trấn Hòa
                                    Bình, Tỉnh Bạc Liêu
                                </p>
                                <div class="sdt-container">
                                    <p>Số điện thoại liên hệ đặt
                                        vé/gửi hàng:</p>
                                    <p class="bold-secondary">02913
                                        880 753 - 02913 752 752</p>
                                </div>
                            </div>

                            <div>
                                <h3>Chi nhánh Sài Gòn</h3>
                                <p>Văn phòng bán vé Sài Gòn: 995
                                    Tạ Quang Bửu, Phường 6, Quận
                                    8, Thành phố Hồ
                                    Chí Minh</p>
                                <div class="sdt-container">
                                    <p>Số điện thoại liên hệ đặt
                                        vé/gửi hàng:</p>
                                    <p class="bold-secondary">02913
                                        880 753 - 02913 752 752</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="review accordion-item">
                    <div class="accordion-header review-title">
                        <button class="accordion-button show" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="background-color:
                                            var(--color--quaternary);">
                            <h3>Đánh giá</h3>
                        </button>
                    </div>

                    <div id="collapseFour" class="accordion-collapse show" data-bs-parent="#nhaxe-accordion">
                        <div class="accordion-body">
                            <div class="container" style="padding-bottom: 10px;">
                                <div class="row star-review
                                                    justify-content-center">
                                    <a href="#" class="col-auto"><i class="bi
                                                            bi-star-fill total">
                                            4.4/5</i></a>
                                    <a href="#" class="col-auto">Tất cả
                                        (14)</i></a>
                                    <a href="#" class="col-auto">5
                                        <i class="bi bi-star-fill">
                                            (8)</i></a>
                                    <a href="#" class="col-auto">4
                                        <i class="bi bi-star-fill">
                                            (3)</i></a>
                                    <a href="#" class="col-auto">3
                                        <i class="bi bi-star-fill">
                                            (2)</i></a>
                                    <a href="#" class="col-auto">2
                                        <i class="bi bi-star-fill">
                                            (1)</i></a>
                                    <a href="#" class="col-auto">1
                                        <i class="bi bi-star-fill">
                                            (0)</i></a>
                                </div>
                            </div>

                            <div class="card comment-container ">
                                <div class="row g-0 comment">
                                    <hr>
                                    <div class="col-auto
                                                    comment-avatar">
                                        <img src="/images/nhan-xet/HaiTu.jpg" class="img-fluid
                                                        rounded-circle" alt="Avatar">
                                    </div>

                                    <div class="col-auto">
                                        <div class="card-body">
                                            <h5 class="card-title
                                                            comment-name">Hải Tú</h5>
                                            <div class="comment-star-container
                                                            ">
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                            </div>

                                            <div>21/01/2021</div>
                                        </div>
                                    </div>

                                    <div>
                                        <p>Rất tốt</p>
                                    </div>

                                </div>

                                <div class="row g-0 comment">
                                    <hr>
                                    <div class="col-auto
                                                    comment-avatar">
                                        <img src="/images/nhan-xet/SonTung.jpg" class="img-fluid
                                                        rounded-circle" alt="Avatar">
                                    </div>

                                    <div class="col-auto">
                                        <div class="card-body">
                                            <h5 class="card-title
                                                            comment-name">Sơn
                                                Tùng</h5>

                                            <div class="comment-star-container">
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                            </div>

                                            <div>22/01/2021</div>
                                        </div>
                                    </div>

                                    <div>
                                        <p>Nên trải nghiệm, tuy chưa
                                            thể gọi là ổn nhưng đi
                                            thử thì cũng được
                                        </p>

                                    </div>

                                </div>

                                <div class="row g-0 comment">
                                    <hr>
                                    <div class="col-auto
                                                    comment-avatar">
                                        <img src="/images/nhan-xet/tbt.jpg" class="img-fluid
                                                        rounded-circle" alt="Avatar">
                                    </div>

                                    <div class="col-auto">
                                        <div class="card-body">
                                            <h5 class="card-title
                                                            comment-name">Bảo
                                                Trâm</h5>

                                            <div class="comment-star-container">
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                                <a href="#" class="col-auto"><i class="bi
                                                                    bi-star-fill
                                                                    comment-star"></i></a>
                                            </div>

                                            <div>21/01/2021</div>
                                        </div>
                                    </div>

                                    <div>
                                        <p>Xe có hỗ trợ nước giải
                                            khát là trà xanh rất
                                            ngon</p>

                                    </div>

                                </div>

                            </div>

                            <nav class="pagination-container">
                                <ul class="pagination
                                                justify-content-center
                                                .pagination-lg">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{{>footer}}