{{>header}}
<main>
    <div id="anhBgForgotPassword">
        <div class="container">
            <div class="row justify-content-center align-items-center d-flex">
                <div class="col-auto text-center">
                    <div id="formForgotPassword">

                        <div id="botForm">
                            <div id="topForm">
                                <h2>Quên Mật Khẩu</h2>
                            </div>
                            <div id="middleForm">
                                <p>Nhập địa chỉ Email và chúng tôi sẽ gửi bạn một liên kết để reset lại mật khẩu</p>
                            </div>

                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" style="float: left">Địa chỉ Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Nhập Email"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                                </div>
                                <button type="submit" class="btn btn-primary submit-button">
                                    <i class="bi bi-arrow-repeat"></i>
                                    Reset mật khẩu
                                </button><br>

                                <a href="login.htm"><small><i class="fa-solid fa-arrow-left"></i> Quay lại trang
                                        đăng
                                        nhập</small></a>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
</main>
{{>footer}}