{{>header}}
<div class="page-site">
    <header class="page-header container">
        <h1 class="page-title primary-title-50">Danh sách nhà xe</h1>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="nhaxe1" class="nhaxe">
                    <a href="chi_tiet_nha_xe.htm" class="thumbnail">
                        <div class="image-container">
                            <img src="./images/nhaxe/HaMy.jpg" alt="Nhà xe Hà My" style="height: 440px; width: 580px"
                                class="img-fluid rounded-top-2 thumbIMG">
                            <div class="hover-block rounded-top-2"></div>
                        </div>
                    </a>


                    <div class="description rounded-bottom-2">
                        <div class="intro">
                            <a href="chi_tiet_nha_xe.htm">
                                <h3>Nhà xe Hà My</h3>
                            </a>

                            <p>
                                Hiện nay, các tỉnh miền Tây Nam Bộ, trong đó có Bạc Liêu, đang là một điểm du lịch
                                hấp dẫn du khách gần xa với cảnh sông nước êm đềm...
                            </p>
                        </div>
                        <div class="review">
                            <h3>Đánh giá</h3>


                            <div class="review-star">
                                <a href="chi_tiet_nha_xe.htm">
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                </a>

                                <a href="chi_tiet_nha_xe.htm" class="review-count">(14)</a>
                            </div>

                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-6">
                <div id="nhaxe1" class="nhaxe">
                    <a href="chi_tiet_nha_xe.htm" class="thumbnail">
                        <div class="image-container">
                            <img src="./images/nhaxe/AnhTuanBacLieu.jpg" alt="Nhà xe Anh Tuấn Bạc Liêu"
                                style="height: 440px; width: 580px" class="img-fluid rounded-top-2 thumbIMG">
                            <div class="hover-block rounded-top-2"></div>
                        </div>
                    </a>


                    <div class="description rounded-bottom-2">
                        <div class="intro">
                            <a href="chi_tiet_nha_xe.htm">
                                <h3>Nhà xe Anh Tuấn Bạc Liêu</h3>
                            </a>

                            <p>
                                Hiện nay, các tỉnh miền Tây Nam Bộ, trong đó có Bạc Liêu, đang là một điểm du lịch
                                hấp dẫn du khách gần xa với cảnh sông nước êm đềm...
                            </p>
                        </div>
                        <div class="review">
                            <h3>Đánh giá</h3>


                            <div class="review-star">
                                <a href="chi_tiet_nha_xe.htm">
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star icon"></i>
                                    <i class="bi bi-star icon"></i>
                                </a>
                                <a href="chi_tiet_nha_xe.htm" class="review-count">(50)</a>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div id="nhaxe1" class="nhaxe">
                    <a href="chi_tiet_nha_xe.htm" class="thumbnail">
                        <div class="image-container">
                            <img src="./images/nhaxe/XuanTung.jpg" alt="Nhà xe Xuân Tùng"
                                style="height: 440px; width: 580px" class="img-fluid rounded-top-2 thumbIMG">
                            <div class="hover-block rounded-top-2"></div>
                        </div>
                    </a>


                    <div class="description rounded-bottom-2">
                        <div class="intro">
                            <a href="chi_tiet_nha_xe.htm">
                                <h3>Nhà xe Xuân Tùng</h3>
                            </a>

                            <p>
                                Hiện nay, các tỉnh miền Tây Nam Bộ, trong đó có Bạc Liêu, đang là một điểm du lịch
                                hấp dẫn du khách gần xa với cảnh sông nước êm đềm...
                            </p>
                        </div>
                        <div class="review">
                            <h3>Đánh giá</h3>


                            <div class="review-star">
                                <a href="chi_tiet_nha_xe.htm">
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                </a>
                                <a href="chi_tiet_nha_xe.htm" class="review-count">(20)</a>
                            </div>

                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-6">
                <div id="nhaxe1" class="nhaxe">
                    <a href="chi_tiet_nha_xe.htm" class="thumbnail">
                        <div class="image-container">
                            <img src="./images/nhaxe/PhatThuy.jpg" alt="Nhà xe Phát Thủy"
                                style="height: 440px; width: 580px" class="img-fluid rounded-top-2 thumbIMG">
                            <div class="hover-block rounded-top-2"></div>
                        </div>
                    </a>


                    <div class="description rounded-bottom-2">
                        <div class="intro">
                            <a href="chi_tiet_nha_xe.htm">
                                <h3>Nhà xe Phát Thủy</h3>
                            </a>

                            <p>
                                Hiện nay, các tỉnh miền Tây Nam Bộ, trong đó có Bạc Liêu, đang là một điểm du lịch
                                hấp dẫn du khách gần xa với cảnh sông nước êm đềm...
                            </p>
                        </div>
                        <div class="review">
                            <h3>Đánh giá</h3>


                            <div class="review-star">
                                <a href="chi_tiet_nha_xe.htm">
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                    <i class="bi bi-star-fill icon"></i>
                                </a>
                                <a href="chi_tiet_nha_xe.htm" class="review-count">(30)</a>
                            </div>

                        </div>
                    </div>


                </div>
            </div>


        </div>



    </main>
</div>
{{>footer}}