<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Thông tin tài khoản</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/infoTaiKhoan.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="/images/favicon_user.png" />


</head>

<body>
    {{>header}}
    <main>
        <div class="bodyInfo">
            <div class="container">
                {{#with infoAcc}}
                <div class="row">
                    <div class="col-md-12">
                        <p><a href="/">Trang chủ </a> > <a href="/tai-khoan/thong-tin">Thông tin
                                tài khoản</a>
                        </p>
                        <div class="infoAcc">
                            <img src="{{imageAccount}}" alt="AnhDaiDien" class="img-fluid" id="avatarInfoAcc">
                            <div class="infoNameAcc">
                                <div style="font-size:larger">Tài khoản của</div>
                                <h4 style="color: var(--color--secondary)">{{fullName}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bodyInfoDetail">
                    <div class="col-md-3 leftBody">
                        <div class="leftInfoAcc">
                            <a class="linkLeftInfoAcc" href="/tai-khoan/thong-tin">
                                <i class="fa-solid fa-user"></i> Thông tin tài khoản
                            </a>
                        </div>
                        <div class="leftInfoAcc">
                            <a href="/tai-khoan/ve-cua-toi" class="linkLeftInfoAcc">
                                <span class="bi bi-ticket-detailed"></span>
                                Vé của tôi
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 rightBody">
                        <form action="/tai-khoan/cap-nhat-mat-khau" class="formRightBody" method="POST">
                            <h2 id="thongtincn">Cập nhật mật khẩu</h2>
                            <div class="topRightBody">

                                <div class="rightOfTopRightBody">
                                    <div class="passwordForm form-group">
                                        <label for="oldPassword">Mật khẩu hiện tại</label>
                                        <input style="width:285px; height:30px" type="password" name="oldPassword"
                                            id="oldPassword" class="form-control" required>
                                    </div>
                                    <div class="passwordNewForm form-group">
                                        <label for="newPassword">Mật khẩu mới</label>
                                        <input style="width:285px; height:30px" type="password" name="newPassword"
                                            id="newPassword" class="form-control" required>
                                    </div>
                                    <div class="confirmNewPasswordForm form-group">
                                        <label for="confirmNewPassword">Nhập lại mật khẩu mới</label>
                                        <input style="width:285px; height:30px" type="password"
                                            name="confirmNewPassword" id="confirmNewPassword" class="form-control"
                                            required>
                                    </div>
                                    <a href="/tai-khoan/thong-tin" id="changeInfoAcc">Cập nhật thông tin tài
                                        khoản?</a>
                                </div>
                            </div>
                            {{#if ../message}}
                            <div class="form-group alert {{../type}}">
                                <strong>{{../message}}</strong>
                            </div>
                            {{/if}}
                            <button class="btn btn-dark mt-3">Lưu thay đổi</button>
                        </form>
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
    </main>
    {{>footer}}
</body>