body {
    font-family: 'Roboto', sans-serif;
}

.password-container {
    position: relative;
}

.fa-eye {
    position: absolute;
    top: 14px;
    right: 8px;
    cursor: pointer;
    color: lightgray;
}
#anhBgForgotPassword {
    width: 100%;
    height: 675px;
    background: url(../images/AnhBgLogin.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
}

#formForgotPassword {
    background-color: white;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    padding: 25px 25px 25px 0;
}

#topForm {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52.5px
}

#middleForm {
    flex-basis: 20%;
    color: gray;
    padding-left: 20px;
    padding-right: 20px;
}

#botForm {
    flex-basis: 60%;
    padding: 25px;
}

button.btn.btn-dark {
    background-color: var(--color--secondary);
    border-color: var(--color--secondary);
    width: 160px;
    border-radius: 15px;
}

button.btn.btn-dark:hover {
    background-color: #1c7ef7;
    border-color: var(--color--secondary);
}

#forgotPassword {
    color:var(--color--secondary);
    float: right;
}

#forgotPassword:hover {
    color: #1c7ef7;
}

.floatLeft {
    float: left;
}

small {
    color: gray;
    font-weight: bold;
    font-size:smaller;
}

.submit-button{
    margin-top: 10px;
    background-color: var(--color--secondary);

    color: white;
    font-weight: bold;
}