body {
    font-family: 'Roboto', sans-serif;
}

.bodyInfo {
    background-color: var(--color--quaternary);
    padding-top: 10px;
}

a {
    color: black;
}

p a:hover {
    text-decoration: underline;
}

a:hover {
    color: black;
}

.infoAcc {
    display: flex;
    align-items: center;
    gap: 15px;
}

#avatarInfoAcc {
    float: left;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: 1px solid;
}

.infoNameAcc {
    float: left;
}

.bodyInfoDetail {
    min-height: 530px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.leftBody {
    font-size: large;
}

.leftBody div.leftInfoAcc:first-child {
    background-color: var(--color--tertiary);
}

.leftInfoAcc {
    padding-left: 29px;
}

.linkLeftInfoAcc {
    display: flex;
    align-items: center;
    gap: 44px;
}

.rightBody {
    background-color: white;
    border-radius: 13px;
}

.formRightBody {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.topRightBody {
    display: flex;
    justify-content: end;
    gap: 15px;
    padding-top: 20px;
}

#thongtincn {
    text-align: center;
    color: var(--color--secondary);
}

.leftOfTopRightBody img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.leftOfTopRightBody {
    flex-basis: 25%;
}

.rightOfTopRightBody,
.botRightBody {
    flex-basis: 75%;
    font-size: larger;
}

.NgaySinhForm {
    position: relative;
}

.fa-calendar-days {
    position: absolute;
    top: 5px;
    right: 7px;
    color: var(--color--secondary);
}

.HoTenForm,
.EmailForm,
.NgaySinhForm {
    display: flex;
    gap: 25px;
}

.SDTForm {
    display: flex;
    gap: 10px
}

.botRightBody {
    margin-top: 20px;
}

.GioiTinhForm {
    display: flex;
    gap: 52px;
}

.rightGioiTinhForm {
    display: flex;
    gap: 30px;
}

button.btn.btn-dark {
    background-color: var(--color--secondary);
    border-color: var(--color--secondary);
    width: 300px;
    border-radius: 15px;
}

button.btn.btn-dark:hover {
    background-color: #1c7ef7;
    border-color: var(--color--secondary);
}

.GioiTinhForm,
.EmailForm,
.SDTForm {
    margin-top: 25px;
}

#changePassword,
#changeInfoAcc {
    color: var(--color--secondary);
    display: flex;
    justify-content: end;
}

#changePassword:hover,
#changeInfoAcc:hover {
    color: #1c7ef7;
}

#changeInfoAcc {
    margin-top: 10px;
    font-size: medium;
}

.leftOfTopRightBody {
    position: relative;
}

.changeAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: var(--color--tertiary);
    color: var(--color--secondary);
    border: none;
    border-radius: 50%;
    top: 65%;
    right: 12px;
    cursor: pointer;
}

.bi-camera-fill {
    cursor: pointer;
}

.lds-ring {
    display: inline-block;
    position: relative;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 25%;
    left: 20%;
    border: 3px solid rgb(255, 255, 255);
    opacity: 0.7;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}