body {
    font-family: 'Roboto', sans-serif;
}

.bodyInfo {
    background-color: var(--color--quaternary);
    padding-top: 10px;
}

a {
    color: black;
}

p a:hover {
    text-decoration: underline;
}

a:hover {
    color: black;
}

.infoAcc {
    display: flex;
    align-items: center;
    gap: 15px;
}

#avatarInfoAcc {
    float: left;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: 1px solid;
}

.infoNameAcc {
    float: left;
}

.bodyInfoDetail {
    min-height: 570px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.leftBody {
    font-size: large;
}

.leftBody div.leftInfoAcc:nth-last-child(1) {
    background-color: var(--color--tertiary);
}

.leftInfoAcc {
    padding-left: 29px;
}

.linkLeftInfoAcc {
    display: flex;
    align-items: center;
    gap: 44px;
}

.rightBody {
    background-color: white;
    border-radius: 13px;
    font-size: large;
}

ul {
    list-style: none;
}

.ttLienLac {
    display: flex;
    justify-content: space-between;
}

#maVe {
    font-size: larger;
    font-weight: 700;
}

#maVe span {
    color: var(--color--primary);
}

li {
    font-weight: bold;
}

li span {
    font-weight: normal;
}

#horiSoTien {
    width: 185px;
}

#liTinhTrangVe {
    font-weight: normal;
    color: #9E8900;
}


.fontSizeLarger {
    font-size: larger;
}