body {
    font-family: 'Roboto', sans-serif;
}
.container .loai-xe{
    display: flex;
}

.container .loai-xe p{
    padding: 0 2px;
}

.bold-secondary{
    color: var(--color--secondary);

    font-weight: bold;
    font-size: 20px;
}


.chi-nhanh-details .sdt-container{
    display: flex;
}

.chi-nhanh-details .sdt-container > .bold-secondary{
    line-height: 24px;
    padding-left: 3px;
}

.container .review{
    content: "";
    background-color: var(--color--tertiary);
    
    margin-bottom: 10px;
}

.container .review .container .star-review .total{
    background-color: var(--color--secondary);

    color: white;

    padding: 3px 3px;
}

.container .review .container .star-review a:not(:first-child){
    background-color: white;

    border: 1px solid var(--color--secondary);
    padding: 2px;

    padding: 5px 10px;
    margin: auto 10px;

}

.container .review .container .star-review {
    padding: 10px;
}

.container .review .container .star-review a:first-child{
    padding: 2px;
    border: 1px solid var(--color--secondary);
    background-color: var(--color--secondary);

    padding: 5px 10px;
    margin-right: 15px;
    margin-left: 10px;
}

.comment-avatar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.comment-container{
    background-color: var(--color--tertiary);
    border: 0px;
}

.comment-container .comment{
    position: relative;

    padding: 10px 10px 0 50px;
}


.comment-container .comment:after{
    position: absolute;
    content: "";
    background: black;

    top: 2%;
    height: 1px;
    width: 90%;
    background-color: black;
    z-index: 1;

    left: 0;

    bottom: 10px;
}

.comment-star-container .comment-star{
    font-size: 15px;
    line-height: 5px;

    text-shadow: 1px 2px black;
    color: rgb(224, 174, 9);
}